/*CSS Reset*/
/*Removes default spacing and makes element sizing consistent*/
* {
	/*Shorthand property*/
	/*Applied margin to all sides*/
	margin: 0;
	/*Applied padding to all sides*/
	padding: 0;
	/*Includes padding and border in total width and height*/
	box-sizing: border-box;
}

/*Google Font*/

body {
	font-family: "Open Sans", sans-serif;
}

nav ul {
	/*padding-top: 0.8rem;
	padding-left: 0.8rem;
	padding-right: 0.8rem;
	padding-bottom: 0.8rem;*/
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	/*changes block elements to inline elements*/
	display: inline;
}

#intro, #succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#succeed-info h2, #succeed-info h3 {
	/*top, right, bottom, left*/
	/*margin: 1rem 0 1rem 0;*/
	/*
		Top: 1rem
		Right: 0
		Bottom: 1rem
		Left: 0
	*/
	margin-bottom: 1rem;
	margin-top: 1rem;
}

#intro button {
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

#succeed-info .card {
	/* Divides the parent width equally */
    /* Use 30% instead of 33.33% to allow space for margins and prevent overflow */
	width: 30%;
	/*allows the cards to appear beside each other*/
    /*The element stays in line with other elements (like inline), but you can set width and height (like block).*/
	display: inline-block;
	/*allows for cards to have equal height that adjust with the content*/
	min-height: 175px;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	/*aligns elements with the tallest element in line*/
    /*used with the "inline-block" value*/
	vertical-align: top;
}